<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body class="profile-body">

    <% include ../static/partials/navbar.ejs %>

    <main class="container" style="text-align: center;">

      <% include ../static/partials/messages.ejs %>
      
      <div class="container-fluid calc-table">
        <div class="row">
         <div class="col-lg-2">
         </div>
         <div class="col-lg-8">
                <h2 class="calorie-title">TOTAL DAILY CALORIES</h2>

                <div class="cal-results row">
                 <% if(nutrition.gender === "male"){ %>
                  <table class="table table-borderless">
                    <thead class="table-header" style="display:none">
                      <tr>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="weight-gain">Weight Gain:</td>
                        <td class="calorie-numbers"><%= nutrition.calories + 5 + 250 %> Calories/Day</td>
                      </tr>
                      <tr>
                        <td class="maintenance">Maintenance:</td>
                        <td class="calorie-numbers"><%= nutrition.calories + 5 %> Calories/Day</td>
                      </tr>
                      <tr>
                        <td class="weight-loss">Weight Loss:</td>
                        <td class="calorie-numbers"><%= nutrition.calories + 5 - 250 %> Calories/Day</td>
                      </tr>
                    </tbody>
                  </table>
                 <% } %>

                 <% if(nutrition.gender === "female"){ %>
                  <table class="table table-borderless">
                    <thead class="table-header" style="display:none">
                      <tr>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="weight-gain">Weight Gain:</td>
                        <td class="calorie-numbers"><%= nutrition.calories - 161 + 250 %> Calories/Day</td>
                      </tr>
                      <tr>
                        <td class="maintenance">Maintenance:</td>
                        <td class="calorie-numbers"><%= nutrition.calories - 161 %> Calories/Day</td>
                      </tr>
                      <tr>
                        <td class="weight-loss">Weight Loss:</td>
                        <td class="calorie-numbers"><%= nutrition.calories - 161 - 250 %> Calories/Day</td>
                      </tr>
                    </tbody>
                  </table>
                 <% } %>
                </div>
         </div>
         <div class="col-lg-2">
         </div>
        </div>
      </div>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>